data/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/xml/tim11/user"
    xmlns:usr="http://www.ftn.uns.ac.rs/xml/tim11/user">

	<xs:include schemaLocation="account.xsd"/>
    <xs:element name="User">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element ref="usr:Account"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
