data/xsd/zalbacutanjecir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.ftn.uns.ac.rs/xml/tim11/zalbacutanje"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" 
    elementFormDefault="qualified"
    targetNamespace="http://www.ftn.uns.ac.rs/xml/tim11/zalbacutanje"
    xmlns:zlb="http://www.ftn.uns.ac.rs/xml/tim11/zalbacutanje"
    vc:minVersion="1.1">

    <xs:element name="ZalbaCutanje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="primalac">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Adresa" type="zlb:CTAdresa"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sadrzaj">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ZaglavljeZalbe">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Clan">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                  <xs:minInclusive value="0"/>
                                                  <xs:maxInclusive value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Zakon">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="type" use="required"/>
                                                        <xs:attribute name="property" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PredmetSlanja">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="5"/>
                                                  <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="NazivOrgana">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="type" use="required"/>
                                                        <xs:attribute name="property" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RazlogSlanja">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="NijePostupio" type="xs:string"/>
                                        <xs:element name="NijePostupioUCelosti" type="xs:string"/>
                                        <xs:element name="UZakonsomRoku" type="xs:string"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PodaciOZahtevu">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Godina">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                  <xs:minInclusive value="1900"/>
                                                  <xs:maxInclusive value="2020"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PodaciOZahtevuIInformacijama"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zakljucak">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Predlog">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Dokaz">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Opis">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Napomena">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PodnosilacZalbe">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Naziv">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ImePosiljaoca" type="zlb:CTAutor"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Adresa" type="zlb:CTAdresa"/>
                            <xs:element name="drugiPodaci">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="200"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Potpis">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="podaciOPodnosenjuZahteva">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mesto">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Dan">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="31"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Godina">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1900"/>
                                        <xs:maxInclusive value="2020"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CTAutor">
        <xs:sequence>
            <xs:element name="Ime">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="property" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Prezime">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="property" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CTAdresa">
        <xs:sequence>
            <xs:element name="Ulica" type="xs:string"/>
            <xs:element name="Broj" type="xs:string"/>
            <xs:element name="Grad">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" use="required"/>
                            <xs:attribute name="property" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="Drzava">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" use="required"/>
                            <xs:attribute name="property" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="PostanskiBroj" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
