documents/schemas/zalbacutanjecir.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified" 
    targetNamespace="http://www.ftn.uns.ac.rs/xml/tim11/zalbacutanje" 
    xmlns:zlb="http://www.ftn.uns.ac.rs/xml/tim11/zalbacutanje">

    <xs:element name="ZalbaCutanje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Primalac">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Adresa" type="zlb:CTAdresa"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Sadrzaj">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ZaglavljeZalbe">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Clan">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                  <xs:minInclusive value="0"/>
                                                  <xs:maxInclusive value="1000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Zakon">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="10"/>
                                                  <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PredmetSlanja">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="5"/>
                                                  <xs:maxLength value="100"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="NazivOrgana">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="3"/>
                                                  <xs:maxLength value="50"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RazlogSlanja">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="NijePostupio" type="xs:string"/>
                                        <xs:element name="NijePostupioUCelosti" type="xs:string"/>
                                        <xs:element name="UZakonsomRoku" type="xs:string"/>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PodaciOZahtevu">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Godina">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                  <xs:minInclusive value="1900"/>
                                                  <xs:maxInclusive value="2020"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="PodaciOZahtevuIInformacijama"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Zakljucak">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Predlog">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Dokaz">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Opis">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="Napomena">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="0"/>
                                                  <xs:maxLength value="200"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PodnosilacZalbe">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Naziv">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ImePosiljaoca" type="zlb:CTAutor"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Adresa" type="zlb:CTAdresa"/>
                            <xs:element name="drugiPodaci">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="0"/>
                                        <xs:maxLength value="200"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Potpis">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="podaciOPodnosenjuZahteva">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Mesto">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="2"/>
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Dan">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1"/>
                                        <xs:maxInclusive value="31"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="Godina">
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:minInclusive value="1900"/>
                                        <xs:maxInclusive value="2020"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CTAutor">
        <xs:sequence>
            <xs:element name="Ime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Prezime">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="3"/>
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CTAdresa">
        <xs:sequence>
            <xs:element name="Ulica" type="xs:string"/>
            <xs:element name="Broj" type="xs:string"/>
            <xs:element name="Grad" type="xs:string"/>
            <xs:element name="Drzava" type="xs:string"/>
            <xs:element name="PostanskiBroj" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
